main{
    max-width:90%;
    margin:2rem 4rem;
}
h1{
    text-align: left;
}
hr{
    margin: 2rem 0;
}
div.blank-space__small{
    height:15px
}
div.blank-space__medium{
    height:30px
}
div.blank-space__large{
    height:60px
}