section.name-introduction__container, section.nav-links__container{
    text-align:center;
}

.nav-links.links-for__homepage{
    display:inline-flex;
}

.nav-links.links-for__homepage > [class^="link-container"]{
    margin:0 1em;
}

.social-overlay__container{
    position:absolute;
    top: 1.2em;
    right:0;
}
